@model IEnumerable<App.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

 <br>
<h1  class="">Categorias</h1>


<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a class="" asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                    <a class="" asp-action="Details" asp-route-id="@item.CategoriaId">Detalhes</a> |
                    <a class="" asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="botaoVermelho">Criar novo item</a>
</p>