@model ProdutoCategoriaViewModel

@section scripts{
    <script src="~/js/site.js"></script>
}

@{
    ViewData["Title"] = "Cardapio";
}

<!--pesquisa-->
<main class="">
    <div class="top">
        <div class="search">
            <input class="BarraPesquisa" type="text" placeholder="Pesquisar...">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                    class="icone" />
            </svg>
        </div>


<!--categoria-->
        <select class="todos" name="" id="CategoriaSelect">
            <option value="Todos">Todos</option>
            @foreach (var Categoria in Model.Categorias)
            {
                <option value="@Categoria.Nome">@Categoria.Nome</option>
            }
        </select>

    </div>
    <div class="main">
            @foreach (var Categoria in Model.Categorias)
            {
                <div class="categoria">
                    <h1 class="Nome d-none">@Categoria.Nome</h1>
                    <div class="scroll">
                        @foreach (var item in Model.Produtos)
                        {
                            @if (item.CategoriaId == Categoria.CategoriaId)
                            {
                                //Card
                                <div class="card">
                                     <div style="background-image: url(@item.Imagem);" class="card-img-top"></div>
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Nome</h5>
                                        <div class="compra">
                                            <p class="p"> @item.preco.ToString("C")</p>
                                            <a asp-action="Details" asp-route-id="@item.IdPaises" class="botaoVermelho"> Comprar </a>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    </div>
                </div>
            }

            <div class="categoria">
                    <h1 class="Nome d-none">Todos</h1>
                    <div class="scroll">
                        @foreach (var item in Model.Produtos)
                        {
                            <div class="card">
                                <div style="background-image: url(@item.Imagem);" class="card-img-top"></div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Nome</h5>
                                    <div class="compra">
                                        <p class="p"> @item.preco.ToString("C")</p>
                                        <a asp-action="Details" asp-route-id="@item.IdPaises" class="btn botaoVermelho"> Comprar </a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
    </div>

    <div aria-label="Page navigation w-100">
        <ul class="pagination justify-content-">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</main>