@model ProdutoCategoriaViewModel

@section scripts {
    <script src="~/js/site.js"></script>
}

@{
    ViewData["Title"] = "Cardapio";
}

<!--pesquisa-->
<main class="">



    <div class="main">
        <div class="Descricao">

            @{
                string mTop = "";
            }

            @foreach (var Categoria in Model.Categorias)
            {
                <div class="@mTop mb-4 p-3 categoria">
                    <h1 class="Nome ">@Categoria.Nome</h1>
                    <div class="row p-0 p-2">
                        @{
                            mTop = "mt-4";
                        }
                        @foreach (var item in Model.Produtos)
                        {
                            @if (item.CategoriaId == Categoria.CategoriaId)
                            {
                                //Card
                                <div class="card col-12 col-lg-2">
                                    <div style="background-image: url(@item.Imagem);" class="card-img-top bg-danger"></div>
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Nome</h5>
                                        <div class="compra">
                                            <p class="p"> @item.preco.ToString("C")</p>
                                            <a asp-action="Details" asp-route-id="@item.IdPaises" class="btn BotaoLaranja"> Comprar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    </div>
                </div>
            }
        </div>
        <!--
        <div class="Descricao">
            <div class="categoria">
                    <h1 class="Nome d-none">Todos</h1>
                    <div class="scroll">
        @foreach (var item in Model.Produtos)
        {
                                <div class="card">
                                    <div style="background-image: url(@item.Imagem);" class="card-img-top bg-danger"></div>
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Nome</h5>
                                        <div class="compra">
                                            <p class="p"> @item.preco.ToString("C")</p>
                                            <a asp-action="Details" asp-route-id="@item.IdPaises" class="btn BotaoLaranja"> Comprar </a>
                                        </div>
                                    </div>
                                </div>
        }

                      </div>
                </div>
            </div>
        </div>
        -->
    </div>
</main>